body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

.navbar {
    background-color: #555;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-item {
    flex: 1;
}

.navbar-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 0;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-item a:hover {
    background-color: #777;
}

.content-section {
    padding: 20px;
    flex: 1;
}

.topic-columns {
    display: flex;
    justify-content: center; /* Center the columns */
    margin-top: 20px;
}

.left-column,
.right-column {
    width: 48%;
}

.divider {
    width: 2px; /* Set the width of the line */
    background-color: rgba(0, 0, 0, 0.5); /* Set the color to black */
    margin: 0 20px; /* Add margin for better spacing */
}

.section-divider {
    width: 100%; /* Full width */
    border-top: 2px solid rgba(0, 0, 0, 0.5); /* Line color and style */
    margin: 20px 0; /* Margin for better spacing */
}

.topic-image,
.example-description {
    font-size: 14px; /* Adjust the font size to your preference */
}

.topic-image,
.example-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.example-image:hover {
    cursor: pointer;
}

.left-column h2,
.right-column h2 {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px; /* Add top margin for better spacing */
}
